<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Karla:ital,wght@0,400;1,300;1,400&family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.png">
</head>
<body>
    <header class="banner">
    {{!-- nav bar --}}
    <ul class="nav">
        <li><img src="/images/Tech.png" class="heroImg"></li>
        <li class="nav-buttons"><a href="/">Home</a></li>
        <li class="nav-buttons"><a href="/dashboard">Dashboard</a></li>
        {{#if logged_in }}
        <li class="nav-buttons" id="logout"><a href="/api/users/logout">Logout</a></li>
        {{else}}
        <li class="nav-buttons"><a href="/login">Login</a></li>
        <li class="nav-buttons"><a href="/signup">Signup</a></li>
        {{/if}}
    </ul>
    
    </header>
    
    {{{body}}}
    
</body>
</html>