<div class="loginCard">
    <h2>Login to Your TechBlog Profile</h2>
    <hr>

    <form class="login-form">
        {{!-- email --}}
        <div class="form-group">
            <label class="email-login"for="email-login">email:</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        {{!-- password --}}
        <div class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>

        <div class="form-group">
            <button class="button" type="submit">login</button>
        </div>
    </form>
</div>

{{!-- javascript file --}}
<script src="/js/login.js"></script>