<form class="newPost"action="/posts" method="post">

  <input class="newPostTitle"type="text" name="title" placeholder="Title">

  <textarea class="newPostText"name="content" id="" cols="30" rows="10"></textarea>
<div>
<button class="button buttonRight" type="submit">Submit</button>
</div>
</form>